body {
  margin: 0;
}
#main-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#btn1 {
  width: 70vw;
  margin: auto;
}

#sec-container {
  display: flex;
  min-height: 100vh;
}

#sec-1 {
  flex: 1;
  border: 1px solid white;
}

#sec-2 {
  flex: 1;
  border: 1px solid white;
}

#sec-3 {
  flex: 1;
  border: 1px solid white;
}

#sec-4 {
  flex: 1;
  border: 1px solid white;
}