body {
  margin: 0;
}
#main-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#btn1 {
  width: 70vw;
  margin: auto;
}

#sec-container {
  display: flex;
  height: 70vh;
}

#sec-1, #sec-2, #sec-3, #sec-4{
  flex: 1;
  border: 2px solid white;
  border-radius: 8px;
}

#sec-1 img{
  display: flex;
  width: 30px;
  margin: auto;
  padding-bottom: 20px;
}
#sec-2 img{
  display: flex;
  width: 30px;
  margin: auto;
  padding-bottom: 20px;
}

#sec-3 img{
  display: flex;
  width: 30px;
  margin: auto;
  padding-bottom: 20px;
}

#sec-4 img{
  display: flex;
  width: 30px;
  margin: auto;
  padding-bottom: 20px;
}
